body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #f9fafa;
    /* background-color: red; */
}
#menuContriner{
    margin-top: 1.15%;
    background-color: white;
    /* height: 10vh; */
    -webkit-box-shadow: 0px 10px 6px -4px rgba(107, 107, 107, .1);
    -moz-box-shadow: 0px 10px 6px -4px rgba(107,107,107,.1);
    box-shadow: 0px 10px 6px -4px rgba(107,107,107,.1);
    margin-bottom: 0%;
}
.text-align{
    text-align: center;
}
#logo{
    padding-top: 1.3%;
    padding-bottom: 1.10%;
    padding-left: 1%;
    width: 8.8%;
}
/* Font */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/* Login */
#logContainer{
    background: linear-gradient(90deg, rgba(0,86,74,1) 0%, rgba(0,102,92,1) 50%, rgba(0,86,74,1) 100%);
    width: 94.8%;
    height: 70vh;
    margin: auto;
    margin-top: 2.58%;
    padding-top: 1.5%;
    border-radius: 16px;
    background-image: url(../img/loginPhoto.webp), linear-gradient(90deg, rgba(0,86,74,1) 0%, rgba(0,86,74,1) 50%, rgba(0,102,92,1) 100%);
    background-position: center;
    background-position-x: 126%;
    background-repeat: no-repeat;
    align-items: center;
    /* display: flex; */
}
#loginTitle{
    color: white;
    margin-bottom: 0%;
}
#regBtn{
    margin-top: .5%;
    margin-bottom: .5%;
    color: #066;
    text-decoration: none;
    cursor: pointer;
    float: right;
    font-size: 14px;
    margin-right: 1.5%;
}
#regBtn:hover{
    color: hsl(174, 100%, 15%);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
.subTitule{
    color: white;
    font-size: 15px;
}
#loginForm{
    margin-top: 4%;
}
label{
    color: white;
    display: flex;
    /* font-size: 1.5rem; */
    justify-content: center;
    align-items: center;
}
input {   
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    color: white;
    /* margin-left: 50%; */
    display: block;
    margin : 0 auto;
    width: 20%;
    font-size: 20px;
    text-align: center;
    margin-bottom: .5%;
    margin-top: .5%;
}
input:focus{
    outline: none;
    border: none;
    border-bottom: 4px solid rgb(255, 255, 255);
    /* background-color: hsl(174, 98%, 23%); */
}
#loginbtn{
    display: block;
    margin: 0 auto;
    width: 10%;
    height: 5vh;
    font-size: 17px;
}
