body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #f9fafa;
    /* background-color: red; */
}
#menuContriner{
    margin-top: .8%;
    background-color: white;
    /* height: 10vh; */
    -webkit-box-shadow: 0px 10px 6px -4px rgba(107, 107, 107, .1);
    -moz-box-shadow: 0px 10px 6px -4px rgba(107,107,107,.1);
    box-shadow: 0px 10px 6px -4px rgba(107,107,107,.1);
    margin-bottom: 0%;
}
.text-align{
    text-align: center;
}
#logo{
    padding-top: 1.3%;
    padding-bottom: 1.4%;
    padding-left: 1%;
    width: 8.8%;
}
/* Font */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/* Login */
#logContainer{
    background: linear-gradient(90deg, rgba(0,86,74,1) 0%, rgba(0,102,92,1) 50%, rgba(0,86,74,1) 100%);
    width: 94.8%;
    height: 67.3vh;
    margin: auto;
    margin-top: 2.58%;
    padding-top: 1.5%;
    border-radius: 16px;
    background-image: url(../img/loginPhoto.png), linear-gradient(90deg, rgba(0,86,74,1) 0%, rgba(0,86,74,1) 50%, rgba(0,102,92,1) 100%);
    background-position: center;
    background-position-x: 126%;
    background-repeat: no-repeat;
    align-items: center;
    /* display: flex; */
}
#loginTitle{
    color: white;
    margin-bottom: 0%;
}
#regBtn{
    margin-top: .5%;
    margin-bottom: .5%;
    color: #066;
    text-decoration: none;
    cursor: pointer;
    float: right;
    font-size: 14px;
    margin-right: 1.5%;
}
#regBtn:hover{
    color: hsl(174, 100%, 15%);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
.subTitule{
    color: white;
    font-size: 15px;
}
#loginForm{
    margin-top: 4%;
}
label{
    color: white;
    display: flex;
    /* font-size: 1.5rem; */
    justify-content: center;
    align-items: center;
}
.logininput {   
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    color: white;
    /* margin-left: 50%; */
    display: block;
    margin : 0 auto;
    width: 20%;
    font-size: 20px;
    text-align: center;
    margin-bottom: .5%;
    margin-top: .5%;
}
.logininput:focus{
    outline: none;
    border: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: rgba(0,102,92,1);
    /* background-color: hsl(174, 98%, 23%); */
}
#loginbtn{
    display: block;
    margin: 0 auto;
    width: 10%;
    height: 5vh;
    font-size: 17px;
    color: rgba(0,86,74,1);
    cursor: pointer;
}
#footer{
  padding-top: 2%;
  padding-bottom: 1%;
  margin-top: 5.5%;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0%;
}
.footerIcon{
  width: 2%;
  margin-left: .5%;
  margin-right: .5%;
  cursor: pointer;
}
#respLogin{
  display: none;
}
/* Search */
.searchContainer{
  margin-top: .7%;
  width: 50%;
  height: 7vh;
  border-style: solid;
  border-width: 1px;
  border-color: #d5d8dc;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0%;
  float: right;
  margin-right: 10%;
}
.paisContainer{
  margin-top: .7%;
  height: 7vh;
  border-style: solid;
  border-width: 1px;
  border-color: #d5d8dc;
  border-radius: 8px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  /* border-top-left-radius: 0px;
  border-bottom-left-radius: 0%; */
  float: right;
  width: 20%;
}
#locationIcon{
  margin-top: 5%;
  float: left;
  margin-left: 10%;
  margin-right: 3%;
  width: 4%;
}
#srcIcon{
  margin-top: 2%;
  float: left;
  margin-left: 4%;
  margin-right: 2%;
  width: 3%;
}
.srcInput{
  margin-top: .2%;
  text-align: left;
  width: 87%;
  font-size: 16px;
  border: none;
  color: #9aa2b2;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}
.srcInput:hover{
  background-color: #f9fafa;
}
.srcInput:focus{
  outline: none !important;
  border:2px solid #00665c;
  border-radius: 6px;
  color: black;
  /* border-color: #00665c; */
}
.priceFilter{
  float: left;
  padding-top: .4%;
  padding-bottom: .4%;
  padding-left: 1%;
  margin-top: 1%;
  margin-left: 10%;
  width: 12.5%;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  border-color: #006399;
}
.inputNumFilter{
  width: 45%;
  border: none;
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
.inputNumFilter:focus{
  outline: none !important;
}
.inputNumFilter:hover{
  background-color: #f6f6f6;
}
.border-right{
  border-width: 0 1px 0 0;
  border-style: none solid none none;
  border-color: gray;
  margin-right: 2%;
}
#food_types{
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: 1%;
  padding-right: 1%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #d5d8dc;
  background-color: white;
}
#food_types:hover{
  border-color: #006399;
  background-color: #f6f6f6;
  color: #006399;
}
#food_types:focus{
  border-color: #006399;
  background-color: #f6f6f6;
  color: #006399;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,99,153,1);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0,99,153,1);
  box-shadow: inset 0px 0px 1px 1px rgba(0,99,153,1);
}
#food_types>option{
  color: black;
}
#filterMargin{
  width: 100%;
  height: 9vh;
  
}
#valoration{
  margin-top: .7%;
  padding: 1%;
  padding-top: .5%;
  padding-bottom: .5%;
  margin-left: 1.3%;
  width: 10%;
}
#valoration:focus{
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,99,153,1);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0,99,153,1);
  box-shadow: inset 0px 0px 1px 1px rgba(0,99,153,1);
}
.radioFilter{
  margin-top: .5%;
  float: left;
}
.radioLabel{
  margin-top: 0%;
  float: left;
  color: black;
  font-size: 13px;
  padding-bottom: 0;
  margin-bottom: 0%;
}
#orderBy{
  margin-left: 18%;
  margin-top: .5%;
  text-align: center;
  width: 20%;
}
#orderTxt{
  margin-top: 0%;
  margin-bottom: 0%;
}
#order1{
  margin-left: 22%;
}
#orderBtn{
  float: left;
  margin-top: 1.1%;
  margin-left: 1%;
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: 1%;
  padding-right: 1%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #d5d8dc;
  background-color: white;
  cursor: pointer;
}
#orderBtn:hover{
  border-color: #006399;
  background-color: #f6f6f6;
  color: #006399;
}
#orderBtn:focus{
  border-color: #006399;
  background-color: #f6f6f6;
  color: #006399;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,99,153,1);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0,99,153,1);
  box-shadow: inset 0px 0px 1px 1px rgba(0,99,153,1);
}
/* Resultados de la busqueda */
#homeIcon{
  margin-right: 1%;
  margin-top: 0.16%;
  float: left;
  width: 1.3%;
}
#searchContainer{
  width: 74%;
  padding-left: 11%;
  padding-right: 11%;
}
.thumbnail{
  width: 400px;
  height: 300px;
}
.quote{
  float: left;
  width: 2.3%;
  margin-right: 1.3%;
}
.commIcon{
  float: left;
  width: 20%;
  margin-top: 0%;
  margin-left: 40%;
  margin-right: 5%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.scoreText{
  margin: 0%;
  padding: 0%;
  margin-left: 50%;
}
.commText{
  margin-top: 0%;
}
.resIcon{
  margin-top: 4%;
  margin-bottom: 0%;
  width: 5%;
}
.hrMain{
  border-color:#d5d8dc;
  opacity: 20%;
}
.hrRes{
  margin-top: 2%;
}
.resContainer{
  cursor: pointer;
  /* height: 10vh; */
  border-radius: 3px;
  transition: all .2s ease-out;
}
.resContainer:hover{
  transition: all .2s ease-out;
  -webkit-box-shadow: -2px 3px 5px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: -2px 3px 5px 2px rgba(0,0,0,0.2);
  box-shadow: -2px 3px 5px 2px rgba(0,0,0,0.2);
}
.col-res1{
  width: 40%;
  float: left;
}
.col-res2{
  width: 50%;
  float: left;
}
.col-res3{
  width: 10%;
  float: left;
}
.titleRes{
  margin-top: 0%;
  font-size: 20px;
}
/* Ventana restaurante */
.colInfoRes{
  width: 80%;
  float: left;
}
.colLikes{
  padding-top: 5%;
  width: 20%;
  float: left;
}
#homeIconRes{
  margin-right: .6%;
  margin-left: 15%;
  margin-top: 1%;
  float: left;
  width: 1.2%;
}
#viewResContainer{
  margin-left: 30%;
  width: 40%;
}
#totalScore{
  font-size: 16px;
}
.scoreTextView{
  margin-left: 15%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.commTextView{
  margin-top: 1%;
}
#dirIcon{
  margin-right: 1%;
  margin-top: 0%;
  float: left;
  width: 4%;
}
#moneyIcon{
  margin-right: 1%;
  margin-top: 0%;
  float: left;
  width:5%;
}
#dirTxt{
  padding-top: 1%;
  margin-bottom: 0%;
  text-decoration: underline;
}
#moneyTxt{
  padding-top: .9%;
  margin-top: 0%;
}
.iconsBg{
  background-color: #e7f0ef;
  padding: .8%;
  padding-left: 1.3%;
  padding-right: 1.3%;
}
/* Formulario opiniones */
#opForm{
  width: 80%;
  margin-left: 10%;
  border-color:#d5d8dc82;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 1%;
  display: none;
}
.commentBox{
  resize: none;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
/* Opiniones */
#opinionContainer{
  width: 80%;
  margin-left: 10%;
}
.profilePic{
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 2%;
}
.userOp{
  /* float: left; */
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.dateOp{
  /* float: left; */
  margin-top: 0%;
  padding-top: 0%;
}
.scoreOp{
  float: right;
  width: 15%;
}
.op{
  margin-left: 6%;
}
/* Formulario de registrarse */
.register{
  width: 80%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-3 {
  width: 33.33%;
  float: left;
}
#imgContainer{
  margin-top: 5%;
  border-style: solid;
  border-color: white;
  height: 200px;
  width: 200px;
}
#profilePreview{
  visibility: hidden;
  height: 200px;
  width: 200px;
}
#file {
  color: rgba(0, 0, 0, 0);
  margin-left: 13%;
}
/* Estrellas */
.stars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: fit-content;
  height: 50px; */
  padding: 0;
  margin: 0;
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.455));
}

.stars-container .star-empty {
  /* width: auto;
  height: 50px; */
  cursor: pointer;
  filter: sepia(100%) hue-rotate(340deg) saturate(99999%) grayscale(100%);
  padding: 0;
  margin: 0;
}
.stars-container .star-filled {
  /* width: auto;
  height: 50px; */
  cursor: pointer;
  filter: sepia(100%) hue-rotate(340deg) saturate(99999%);
  padding: 0;
  margin: 0;
}
.stars-container img:nth-child(2n) {
  transform: rotateY(180deg);
}
.starFilter{
  width: 10%;
}
/* .starOp{
  width: 20%;
} */
@media only screen and (max-width: 600px){
  body{
    background-color: white;
  }
  #regBtn{
    display:none;
  }
  #logContainer{
    margin-top: 0%;
    height: 50vh;
    width: 100%;
    border-radius: 0%;
    padding-top: 50%;
    background-image: url(../img/loginPhoto2.webp), linear-gradient(180deg, rgba(0,72,65,1) 0%, rgba(0,71,64,1) 100%);
    background-position-x: 50%;
    background-position-y: -10%;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-bottom: 0%;
    margin-bottom: 0%;
  }
  .logininput {
    width: 70%;
  }
  #loginbtn{
    width: 50%;
  }
  #logo{
    padding-top: 1.3%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 32%;
  }
  #menuContriner{
    margin-top: 0%;
    padding-bottom: 1.5%;
    padding-left: 3%;
    padding-bottom: 3.6%;
  }
  .footerIcon{
    width: 10%;
    margin-left: 2%;
    cursor: pointer;
    display: inline-block;
  }
  #respLogin{
    display: block;
    margin-top: 1.2%;
    width: 5%;
    float: right;
    margin-right: 7%;
    cursor:pointer;
  }
  #footer{
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 0%;
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0%;
    height: 18.2vh;
  }
}